NEXT_PUBLIC_WC_PROJECT_ID=
NEXT_PUBLIC_NETWORK=mainnet

# These are public so its ok to include them here ;)
NEXT_PUBLIC_SUPABASE_URL=https://mldxpxhywfbmamrntgsg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1sZHhweGh5d2ZibWFtcm50Z3NnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgzNDUzMDcsImV4cCI6MjA3MzkyMTMwN30.eoOW3gZ7PEn5Sbf_Aq28BidImVR_q3Ke0WZ1nQ4xIdA